In [ ]:
import pandas as pd
from geopy.geocoders import GoogleV3
import pandas as pd

In [46]:
df = pd.read_excel('./Miklat_JER.xls')
df.columns = ['Neighborhood','Num', 'Street Address','activity_notes', 'type','size','other','other2']

is_active_map = ~df.activity_notes.str.contains('לא פעיל').fillna(False)
valid_miklat = df[is_active_map]
valid_miklat = valid_miklat.assign(address= 'ירושלים ' + valid_miklat['Street Address'] + ' ' + valid_miklat['Neighborhood'],
                                   name='Jerusalem' + valid_miklat['Num'].astype(str))
valid_miklat

,Neighborhood,Num,Street Address,activity_notes,type,size,other,other2,address,name
1,בוכרים,609,ישא ברכה 23,NaN,מקלט,250,NaN,NaN,ירושלים ישא ברכה 23 בוכרים,Jerusalem609
2,בוכרים,612,יואל 16,NaN,מחסה,50,NaN,NaN,ירושלים יואל 16 בוכרים,Jerusalem612
3,בוכרים,837,שמואל הנביא 79,NaN,מקלט,115,NaN,NaN,ירושלים שמואל הנביא 79 בוכרים,Jerusalem837
4,בוכרים,910,עובדיה 22,NaN,מקלט,100,NaN,NaN,ירושלים עובדיה 22 בוכרים,Jerusalem910
5,בית הכרם,744,הבנאי 4,NaN,מקלט,170,NaN,NaN,ירושלים הבנאי 4 בית הכרם,Jerusalem744
...,...,...,...,...,...,...,...,...,...,...
155,תלפיות,688,אפרתה 18,NaN,מקלט,200,NaN,NaN,ירושלים אפרתה 18 תלפיות,Jerusalem688
156,תלפיות,689,בן גבריאל 34,NaN,מקלט,90,NaN,NaN,ירושלים בן גבריאל 34 תלפיות,Jerusalem689
157,תלפיות,690,קלוזנר 12,NaN,מקלט,240,NaN,NaN,ירושלים קלוזנר 12 תלפיות,Jerusalem690
158,תלפיות,691,דרך בית לחם 93,NaN,מקלט,440,NaN,NaN,ירושלים דרך בית לחם 93 תלפיות,Jerusalem691
159,תלפיות,940,שלום יהודה 17,NaN,מקלט,100,NaN,NaN,ירושלים שלום יהודה 17 תלפיות,Jerusalem940

In [47]:

def get_lat_lng(address):
    geolocator = GoogleV3(api_key='AIzaSyAh_nkW37RFDN4SC3FPAUx4mJAUgNb8pW8')
    location = geolocator.geocode(address)
    if location:
        return location.latitude, location.longitude
    return None, None  # Return None if geocoding failed

# Apply the function to the 'address' column
valid_miklat[['lat', 'lng']] = valid_miklat['address'].apply(lambda x: pd.Series(get_lat_lng(x)))

# Now df has two new columns 'lat' and 'lng' with the geocoded coordinates
valid_miklat

,Neighborhood,Num,Street Address,activity_notes,type,size,other,other2,address,name,lat,lng
1,בוכרים,609,ישא ברכה 23,NaN,מקלט,250,NaN,NaN,ירושלים ישא ברכה 23 בוכרים,Jerusalem609,31.792235,35.217675
2,בוכרים,612,יואל 16,NaN,מחסה,50,NaN,NaN,ירושלים יואל 16 בוכרים,Jerusalem612,31.768319,35.213710
3,בוכרים,837,שמואל הנביא 79,NaN,מקלט,115,NaN,NaN,ירושלים שמואל הנביא 79 בוכרים,Jerusalem837,31.794069,35.220836
4,בוכרים,910,עובדיה 22,NaN,מקלט,100,NaN,NaN,ירושלים עובדיה 22 בוכרים,Jerusalem910,31.790349,35.215698
5,בית הכרם,744,הבנאי 4,NaN,מקלט,170,NaN,NaN,ירושלים הבנאי 4 בית הכרם,Jerusalem744,31.775014,35.190416
...,...,...,...,...,...,...,...,...,...,...,...,...
155,תלפיות,688,אפרתה 18,NaN,מקלט,200,NaN,NaN,ירושלים אפרתה 18 תלפיות,Jerusalem688,31.752501,35.221845
156,תלפיות,689,בן גבריאל 34,NaN,מקלט,90,NaN,NaN,ירושלים בן גבריאל 34 תלפיות,Jerusalem689,31.748883,35.219904
157,תלפיות,690,קלוזנר 12,NaN,מקלט,240,NaN,NaN,ירושלים קלוזנר 12 תלפיות,Jerusalem690,31.749002,35.223476
158,תלפיות,691,דרך בית לחם 93,NaN,מקלט,440,NaN,NaN,ירושלים דרך בית לחם 93 תלפיות,Jerusalem691,31.752088,35.218932
159,תלפיות,940,שלום יהודה 17,NaN,מקלט,100,NaN,NaN,ירושלים שלום יהודה 17 תלפיות,Jerusalem940,31.749556,35.219332

In [48]:
valid_miklat.to_csv('miklat.csv', encoding='utf-8', index=False)

[{'name': 'Jerusalem609', 'address': {'lng': 35.2176755, 'lat': 31.7922354}},
 {'name': 'Jerusalem612', 'address': {'lng': 35.21371, 'lat': 31.768319}},
 {'name': 'Jerusalem837', 'address': {'lng': 35.2208356, 'lat': 31.794069}},
 {'name': 'Jerusalem910', 'address': {'lng': 35.2156977, 'lat': 31.7903489}},
 {'name': 'Jerusalem744', 'address': {'lng': 35.1904157, 'lat': 31.7750135}},
 {'name': 'Jerusalem745', 'address': {'lng': 35.1922193, 'lat': 31.7774805}},
 {'name': 'Jerusalem742', 'address': {'lng': 35.18298, 'lat': 31.7658063}},
 {'name': 'Jerusalem743', 'address': {'lng': 35.1845249, 'lat': 31.7691802}},
 {'name': 'Jerusalem\u200b908',
  'address': {'lng': 35.2232357, 'lat': 31.79186859999999}},
 {'name': 'Jerusalem841', 'address': {'lng': 35.2212159, 'lat': 31.7905408}},
 {'name': 'Jerusalem\u200b984',
  'address': {'lng': 35.22078700000001, 'lat': 31.759335}},
 {'name': 'Jerusalem\u200b980',
  'address': {'lng': 35.22078700000001, 'lat': 31.759335}},
 {'name': 'Jerusalem\u200b995',
  'address': {'lng': 35.2213625, 'lat': 31.7564632}},
 {'name': 'Jerusalem683',
  'address': {'lng': 35.22352619999999, 'lat': 31.7598214}},
 {'name': 'Jerusalem684', 'address': {'lng': 35.2229651, 'lat': 31.7591133}},
 {'name': 'Jerusalem685', 'address': {'lng': 35.2220419, 'lat': 31.7577513}},
 {'name': 'Jerusalem823\u200b',
  'address': {'lng': 35.220794, 'lat': 31.760602}},
 {'name': 'Jerusalem\u200b621',
  'address': {'lng': 35.219499, 'lat': 31.789155}},
 {'name': 'Jerusalem637', 'address': {'lng': 35.21371, 'lat': 31.768319}},
 {'name': 'Jerusalem830', 'address': {'lng': 35.2172062, 'lat': 31.791313}},
 {'name': 'Jerusalem904', 'address': {'lng': 35.219499, 'lat': 31.789155}},
 {'name': 'Jerusalem715', 'address': {'lng': 35.2011204, 'lat': 31.7613455}},
 {'name': 'Jerusalem949', 'address': {'lng': 35.20305, 'lat': 31.762544}},
 {'name': 'Jerusalem808', 'address': {'lng': 35.1917129, 'lat': 31.7907081}},
 {'name': 'Jerusalem998', 'address': {'lng': 35.2416426, 'lat': 31.805501}},
 {'name': 'Jerusalem695', 'address': {'lng': 35.2155554, 'lat': 31.7621138}},
 {'name': 'Jerusalem928', 'address': {'lng': 35.2175901, 'lat': 31.7872212}},
 {'name': 'Jerusalem807', 'address': {'lng': 35.221197, 'lat': 31.768003}},
 {'name': 'Jerusalem632', 'address': {'lng': 35.2246079, 'lat': 31.7856464}},
 {'name': 'Jerusalem826', 'address': {'lng': 35.225261, 'lat': 31.786634}},
 {'name': 'Jerusalem751', 'address': {'lng': 35.2266767, 'lat': 31.7835368}},
 {'name': 'Jerusalem752', 'address': {'lng': 35.2267942, 'lat': 31.7813353}},
 {'name': 'Jerusalem753', 'address': {'lng': 35.2243942, 'lat': 31.7823329}},
 {'name': 'Jerusalem648', 'address': {'lng': 35.2096217, 'lat': 31.7834105}},
 {'name': 'Jerusalem821', 'address': {'lng': 35.2136024, 'lat': 31.782797}},
 {'name': 'Jerusalem839', 'address': {'lng': 35.2088045, 'lat': 31.7872463}},
 {'name': 'Jerusalem935', 'address': {'lng': 35.2105802, 'lat': 31.7825739}},
 {'name': 'Jerusalem961',
  'address': {'lng': 35.21297819999999, 'lat': 31.7865467}},
 {'name': 'Jerusalem813', 'address': {'lng': 35.1832669, 'lat': 31.7553963}},
 {'name': 'Jerusalem641', 'address': {'lng': 35.2134966, 'lat': 31.7889628}},
 {'name': 'Jerusalem643', 'address': {'lng': 35.2108421, 'lat': 31.7905859}},
 {'name': 'Jerusalem812', 'address': {'lng': 35.2112641, 'lat': 31.7877839}},
 {'name': 'Jerusalem909', 'address': {'lng': 35.2094714, 'lat': 31.7897539}},
 {'name': 'Jerusalem639',
  'address': {'lng': 35.21959349999999, 'lat': 31.7819264}},
 {'name': 'Jerusalem652', 'address': {'lng': 35.2236504, 'lat': 31.7839156}},
 {'name': 'Jerusalem758',
  'address': {'lng': 35.21959349999999, 'lat': 31.7819264}},
 {'name': 'Jerusalem932', 'address': {'lng': 35.212869, 'lat': 31.7830058}},
 {'name': 'Jerusalem973', 'address': {'lng': 35.2166985, 'lat': 31.7777006}},
 {'name': 'Jerusalem974',
  'address': {'lng': 35.2147312, 'lat': 31.77967319999999}},
 {'name': 'Jerusalem985',
  'address': {'lng': 35.21959349999999, 'lat': 31.7819264}},
 {'name': 'Jerusalem939', 'address': {'lng': 35.2010572, 'lat': 31.7720169}},
 {'name': 'Jerusalem647', 'address': {'lng': 35.2105883, 'lat': 31.784848}},
 {'name': 'Jerusalem657', 'address': {'lng': 35.2105883, 'lat': 31.784848}},
 {'name': 'Jerusalem602',
  'address': {'lng': 35.220288, 'lat': 31.79726399999999}},
 {'name': 'Jerusalem903', 'address': {'lng': 35.1636146, 'lat': 31.7682071}},
 {'name': 'Jerusalem829', 'address': {'lng': 35.1666505, 'lat': 31.7535735}},
 {'name': 'Jerusalem840', 'address': {'lng': 35.1670535, 'lat': 31.7528384}},
 {'name': 'Jerusalem901', 'address': {'lng': 35.1665208, 'lat': 31.7591071}},
 {'name': 'Jerusalem902', 'address': {'lng': 35.1690152, 'lat': 31.7546734}},
 {'name': 'Jerusalem905', 'address': {'lng': 35.1708159, 'lat': 31.7570072}},
 {'name': 'Jerusalem670', 'address': {'lng': 35.2223659, 'lat': 31.7661875}},
 {'name': 'Jerusalem672', 'address': {'lng': 35.222031, 'lat': 31.7659588}},
 {'name': 'Jerusalem673', 'address': {'lng': 35.2185825, 'lat': 31.7634619}},
 {'name': 'Jerusalem674 6', 'address': {'lng': 35.2227148, 'lat': 31.7663199}},
 {'name': 'Jerusalem676', 'address': {'lng': 35.2210073, 'lat': 31.7643611}},
 {'name': 'Jerusalem677', 'address': {'lng': 35.2213078, 'lat': 31.763875}},
 {'name': 'Jerusalem692', 'address': {'lng': 35.2165345, 'lat': 31.7612795}},
 {'name': 'Jerusalem693', 'address': {'lng': 35.2147181, 'lat': 31.7625121}},
 {'name': 'Jerusalem696', 'address': {'lng': 35.2133427, 'lat': 31.7610918}},
 {'name': 'Jerusalem697', 'address': {'lng': 35.2206299, 'lat': 31.764312}},
 {'name': 'Jerusalem804', 'address': {'lng': 35.2196121, 'lat': 31.7647027}},
 {'name': 'Jerusalem702', 'address': {'lng': 35.2075598, 'lat': 31.7595221}},
 {'name': 'Jerusalem718', 'address': {'lng': 35.1938511, 'lat': 31.7543075}},
 {'name': 'Jerusalem755', 'address': {'lng': 35.1966235, 'lat': 31.756184}},
 {'name': 'Jerusalem756', 'address': {'lng': 35.207, 'lat': 31.761}},
 {'name': 'Jerusalem757', 'address': {'lng': 35.207, 'lat': 31.761}},
 {'name': 'Jerusalem805', 'address': {'lng': 35.2107496, 'lat': 31.7622002}},
 {'name': 'Jerusalem817', 'address': {'lng': 35.2172409, 'lat': 31.7625729}},
 {'name': 'Jerusalem824', 'address': {'lng': 35.2086146, 'lat': 31.7552236}},
 {'name': 'Jerusalem825', 'address': {'lng': 35.201658, 'lat': 31.7534272}},
 {'name': 'Jerusalem828', 'address': {'lng': 35.213266, 'lat': 31.7595573}},
 {'name': 'Jerusalem831', 'address': {'lng': 35.1954492, 'lat': 31.7560538}},
 {'name': 'Jerusalem842', 'address': {'lng': 35.195397, 'lat': 31.7529631}},
 {'name': 'Jerusalem906', 'address': {'lng': 35.1987596, 'lat': 31.7541317}},
 {'name': 'Jerusalem923', 'address': {'lng': 35.213869, 'lat': 31.761699}},
 {'name': 'Jerusalem937', 'address': {'lng': 35.2096607, 'lat': 31.7614742}},
 {'name': 'Jerusalem965', 'address': {'lng': 35.1964302, 'lat': 31.7535723}},
 {'name': 'Jerusalem967', 'address': {'lng': 35.2097132, 'lat': 31.7579232}},
 {'name': 'Jerusalem969', 'address': {'lng': 35.2087293, 'lat': 31.7567059}},
 {'name': 'Jerusalem976', 'address': {'lng': 35.191999, 'lat': 31.755315}},
 {'name': 'Jerusalem981', 'address': {'lng': 35.1920082, 'lat': 31.7543051}},
 {'name': 'Jerusalem987', 'address': {'lng': 35.207, 'lat': 31.761}},
 {'name': 'Jerusalem671', 'address': {'lng': 35.2140282, 'lat': 31.7660489}},
 {'name': 'Jerusalem703', 'address': {'lng': 35.207, 'lat': 31.761}},
 {'name': 'Jerusalem720', 'address': {'lng': 35.1783307, 'lat': 31.7546911}},
 {'name': 'Jerusalem721', 'address': {'lng': 35.1773017, 'lat': 31.7554891}},
 {'name': 'Jerusalem722', 'address': {'lng': 35.1766545, 'lat': 31.7563747}},
 {'name': 'Jerusalem723', 'address': {'lng': 35.1766657, 'lat': 31.7540446}},
 {'name': 'Jerusalem724', 'address': {'lng': 35.1783829, 'lat': 31.7580229}},
 {'name': 'Jerusalem736', 'address': {'lng': 35.1704658, 'lat': 31.7605238}},
 {'name': 'Jerusalem737', 'address': {'lng': 35.174674, 'lat': 31.76272}},
 {'name': 'Jerusalem738', 'address': {'lng': 35.173213, 'lat': 31.7619861}},
 {'name': 'Jerusalem739', 'address': {'lng': 35.174674, 'lat': 31.76272}},
 {'name': 'Jerusalem741', 'address': {'lng': 35.1782831, 'lat': 31.767264}},
 {'name': 'Jerusalem814', 'address': {'lng': 35.1772095, 'lat': 31.7592274}},
 {'name': 'Jerusalem814א', 'address': {'lng': 35.1772095, 'lat': 31.7592274}},
 {'name': 'Jerusalem815', 'address': {'lng': 35.1752983, 'lat': 31.7651059}},
 {'name': 'Jerusalem815א', 'address': {'lng': 35.1752983, 'lat': 31.7651059}},
 {'name': 'Jerusalem963', 'address': {'lng': 35.1773224, 'lat': 31.7658085}},
 {'name': 'Jerusalem983', 'address': {'lng': 35.174674, 'lat': 31.76272}},
 {'name': 'Jerusalem991', 'address': {'lng': 35.1730133, 'lat': 31.7639081}},
 {'name': 'Jerusalem992', 'address': {'lng': 35.1772564, 'lat': 31.7630303}},
 {'name': 'Jerusalem993', 'address': {'lng': 35.1746754, 'lat': 31.7638815}},
 {'name': 'Jerusalem729', 'address': {'lng': 35.1658768, 'lat': 31.7559385}},
 {'name': 'Jerusalem734', 'address': {'lng': 35.165388, 'lat': 31.7594792}},
 {'name': 'Jerusalem734א', 'address': {'lng': 35.165388, 'lat': 31.7594792}},
 {'name': 'Jerusalem803', 'address': {'lng': 35.164417, 'lat': 31.7605249}},
 {'name': 'Jerusalem827', 'address': {'lng': 35.1688985, 'lat': 31.7594846}},
 {'name': 'Jerusalem748', 'address': {'lng': 35.1955473, 'lat': 31.7879321}},
 {'name': 'Jerusalem978', 'address': {'lng': 35.192678, 'lat': 31.784153}},
 {'name': 'Jerusalem667', 'address': {'lng': 35.2110332, 'lat': 31.767478}},
 {'name': 'Jerusalem971', 'address': {'lng': 35.2120205, 'lat': 31.7678118}},
 {'name': 'Jerusalem977', 'address': {'lng': 35.1935178, 'lat': 31.786549}},
 {'name': 'Jerusalem606', 'address': {'lng': 35.2058748, 'lat': 31.7914796}},
 {'name': 'Jerusalem750', 'address': {'lng': 35.2058748, 'lat': 31.7914796}},
 {'name': 'Jerusalem933', 'address': {'lng': 35.1991455, 'lat': 31.7957931}},
 {'name': 'Jerusalem975א', 'address': {'lng': 35.2058748, 'lat': 31.7914796}},
 {'name': 'Jerusalem975ב', 'address': {'lng': 35.2058748, 'lat': 31.7914796}},
 {'name': 'Jerusalem975ג', 'address': {'lng': 35.2058748, 'lat': 31.7914796}},
 {'name': 'Jerusalem975ד', 'address': {'lng': 35.2058748, 'lat': 31.7914796}},
 {'name': 'Jerusalem979', 'address': {'lng': 35.201072, 'lat': 31.7951012}},
 {'name': 'Jerusalem658', 'address': {'lng': 35.2141171, 'lat': 31.7755467}},
 {'name': 'Jerusalem659', 'address': {'lng': 35.2154265, 'lat': 31.7750746}},
 {'name': 'Jerusalem809', 'address': {'lng': 35.2107395, 'lat': 31.7732291}},
 {'name': 'Jerusalem810', 'address': {'lng': 35.2166988, 'lat': 31.7730719}},
 {'name': 'Jerusalemnan', 'address': {'lng': 35.2123937, 'lat': 31.771597}},
 {'name': 'Jerusalem835', 'address': {'lng': 35.2159416, 'lat': 31.7722262}},
 {'name': 'Jerusalem972', 'address': {'lng': 35.2142244, 'lat': 31.7762718}},
 {'name': 'Jerusalem604', 'address': {'lng': 35.2266858, 'lat': 31.7873241}},
 {'name': 'Jerusalem907\u200b',
  'address': {'lng': 35.221775, 'lat': 31.794755}},
 {'name': 'Jerusalem957', 'address': {'lng': 35.2189116, 'lat': 31.7945714}},
 {'name': 'Jerusalem679', 'address': {'lng': 35.2256433, 'lat': 31.7634002}},
 {'name': 'Jerusalem688', 'address': {'lng': 35.2218446, 'lat': 31.7525005}},
 {'name': 'Jerusalem689', 'address': {'lng': 35.2199039, 'lat': 31.7488831}},
 {'name': 'Jerusalem690',
  'address': {'lng': 35.2234756, 'lat': 31.74900199999999}},
 {'name': 'Jerusalem691', 'address': {'lng': 35.2189322, 'lat': 31.7520878}},
 {'name': 'Jerusalem940', 'address': {'lng': 35.2193321, 'lat': 31.7495558}}]